// *{ margin: 0;
//    padding: 0;
// }
// .beer-tiles__img {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
    
// }

// .beer-tiles {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
    
// }

.all-beers {
    display: grid;
grid-template: 300px/ auto auto auto;
grid-template-columns: 300px 300px 300px;
grid-template-rows: auto;
grid-gap:20px;
}




