.mainScreen {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 30px;
}
    .all-beers{
        grid-template: 300px/ auto auto auto;
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: auto;
        grid-gap:20px;
        }

        .navBar {
            display: flex;
            flex-direction: column;
            padding: 10px;
            gap: 10px;
        }

        .header {
            text-align: center;
        }






